
/* фон header #FFFFFF 
/* основной фон #F5F5F5 */
/* темный фон #2F303A */
/* серый фон #F5F4FA*/
/* основной текст #757575 */
/* цыет заголовков #212121 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */


:root {
    --color-text: #757575;
    --color-h: #212121;
    --white-color-text: #FFFFFF;
    --accent: #2196F3;
    --logo-color: #000000;
    --darc-bgc: #2F303A;
    --second-bgc: #F5F5F5;
    --third-bgc-color: #F5F4FA;
    --icon-colour: #AFB1B8;
}